{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Summer of Code 2009" %}{% endblock %}

{% block page-header %}
<h1>{% trans "Summer of Code 2009" %}</h1>
{% endblock %}

{% block content %}
<p>
 Review Board is participating in the 2009 Summer of Code. If you're
 a student interested in working on Review Board for the summer, you can
 <a href="http://socghop.appspot.com/">apply</a> between <b>March 23</b> and
 <b>April 3rd</b>.
</p>
<p>
 As a starting point, we have a list of
 <a href="{% url wiki-page "Summer_of_Code_Ideas" %}">ideas</a> for features
 we'd like to see included in Review Board.
</p>
<p>
 There's a
 <a href="http://groups.google.com/group/reviewboard-gsoc">reviewboard-gsoc
 mailing list</a> for discussion and announcements. We strongly encourage all
 students and mentors to sign up to this. We expect it will be fairly
 low-traffic.
</p>

<h2>Links</h2>
<ul>
 <li><a href="http://socghop.appspot.com/">Applying to Summer of Code</a></li>
 <li><a href="http://socghop.appspot.com/document/show/program/google/gsoc2009/timeline">Timeline</a></li>
 <li><a href="{% url wiki-page "Summer_of_Code_Ideas" %}">Ideas</a></li>
</ul>
{% endblock %}

