body {
  color: black
  background-color: #FAFAFA;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 8pt;
}

h1 {
  font-size: 10pt;
}

.label {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.vertlabel {
  font-weight: bold;
}

#headbar {
  margin-bottom: 8px;
}

#title {
  display: inline;
  font-size: 24pt;
  font-weight: normal;
}

#title a {
  color: black;
  text-decoration: none;
}

#beta {
  color: #808080;
  display: inline;
  font-size: 12pt;
  font-weight: normal;
}

#navbar {
  background-color: #C6DCF3;
  border: 1px #3465A4 solid;
  padding: 2px 6px;
  width: 100%;
  margin: 0;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline;
  height: 30px;
  margin-right: 14px;
}

#navbar a {
  color: #0000AA;
  text-decoration: none;
  font-size: 110%;
  font-weight: bold;
}

#navbar #changenumform {
  text-align: right;
}

#navbar form {
  color: #0000AA;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

#review-details {
  background: #fce9bf;
  border: 1px black outset;
  padding: 10px;
  width: 100%;
}

#review-details td {
  padding: 4px;
}

#review-details .label {
  width: 10%;
}

#review-details .value {
  color: #333333;
  width: 60%;
}

#review-details .vertlabel {
  /* border-top: 1px #999999 solid; */
  padding-top: 12px;
}

#review-details #summary {
  font-size: 120%;
  font-weight: bold;
  width: 60%;
}

#review-details #updated_time {
  color: #666666;
  font-size: 120%;
  text-align: right;
  width: 30%;
}

#review-details #viewdiff {
  text-align: right;
}

#review-details #status {
  color: #666666;
  text-align: right;
}

#review-details #description, #review-details #testingdone {
  background-color: #FAFAFA;
  border: 1px #cfb01a solid;
  padding-left: 20px;
}

table.list {
  margin-left: 1px;
  margin-top: 12px;
  border-collapse: collapse;
  width: 100%;
}

table.list th {
  background-color: #EEEEEE;
  padding: 4px;
  text-align: left;
}

table.list tr {
  background-color: #F8F8F8;
  border: 1px #D3D7CF solid;
}

table.list tr.headers {
  border: 1px #888888 solid;
}

table.list td {
  padding: 4px;
}

table.list td.even {
  background: white;
}

table.list td.odd {
  background: #E0E0E0
}

table.list td.submitter {
  width: 15em;
}

table.list td.updated {
  width: 20em;
}

table.list td a {
  color: #003582;
}

.section .title {
  background: #D00000;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  color: white;
  padding: 4px 8px;
}

.section .body {
  margin-left: 20px;
  padding: 10px;
}

.section {
  margin-bottom: 20px;
}
