{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "News" %}{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Review Board | News RSS Feed" href="http://www.review-board.org/news/feed/" />
{% endblock %}

{% block page-header %}
<h1>{% trans "News" %}</h1>
{% endblock %}

{% block content %}
{%  include "news/sidebar.html" %}

<div id="posts">
{% include "news/post-item.html" %}
</div>

{% include "rbwebsite/paginator.html" %}

{% endblock %}
