{% load i18n %}
<div id="sidebar" class="thin">
 <div class="section">
  <h1 class="title">{% trans "Recent Posts" %}</h1>
  <ul>
{% for post in all_posts|slice:"10" %}
   <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
{% endfor %}
  </ul>
 </div>
 <div class="section">
  <h1 class="title">{% trans "Categories" %}</h1>
  <ul>
{% for category in categories %}
   <li><a href="{{category.get_absolute_url}}">{{category.name}}</a></li>
{% endfor %}
  </ul>
 </div>
 <div class="section">
  <h1 class="title">{% trans "Archives" %}</h1>
   <ul>
{% for d in dates %}
    <li><a href="{% url news %}{{d|date:"Y/m"}}/">{{d|date:"F Y"}}</a></li>
{% endfor %}
  </ul>
 </div>
</div>
