{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "News" %} {% spaceless %}
{%  if year %}| {{year}}{% endif %}
{%  if month %}| {{month|date:"F Y"}}{% endif %}
{%  if day %}| {{day|date:"F d, Y"}}{% endif %}
{% endspaceless %}{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Review Board | News RSS Feed" href="http://www.review-board.org/news/feed/" />
{% endblock %}

{% block page-header %}
<h1>{% trans "News" %}</h1>
{% endblock %}

{% block content %}
{%  include "news/sidebar.html" %}

<div id="posts">
{% for post in object_list %}
<h2 class="date">{{post.timestamp|date:"F j, Y"}}</h2>
{%  include "news/post-item.html" %}
{% endfor %}
</div>

{% include "rbwebsite/paginator.html" %}
{% endblock %}
