.headerlink {
  visibility: hidden;
  font-size: 0.8em;
  padding: 0 4px;
  color: #C0C0C0;
}

:hover > a.headerlink {
  visibility: visible;
}

.admonition {
  background: #F6F6F6;
  border: 1px #999999 solid;
  margin: 2em 0;
  overflow: auto;
}

.admonition .last {
  margin-bottom: 0.5em;
  padding-bottom: 0;
}

.admonition p {
  padding: 0 0.5em 0 0.5em;
}

.admonition .admonition-title {
  background: #bfd1d4;
  border-bottom: 1px #999999 solid;
  font-size: 10pt;
  font-weight: bold;
  margin: 0;
  padding: 0.2em 0.5em;
}

.admonition-title a {
  color: black;
}

.descname {
  font-weight: bold;
}

.glossary dd {
  padding-left: 2em;
  margin-bottom: 2em;
}

.glossary dt {
  font-weight: bold;
  font-size: 110%;
}

.literal {
  background-color: #F2F2F2;
  padding: 0 0.2em;
}

.section img {
  height: auto;
  width: auto;
  max-width: 100%;
}

a.reference em {
  font-style: normal;
}

dl dd {
  margin-bottom: 1em;
}

dl.class {
  margin-top: 2em;
}

pre {
  background-color: #F8F8F8;
  border: 1px solid #CCCCCC;
}
