{% extends "base.html" %}
{% load djblets_utils %}
{% load gravatars %}
{% load i18n %}

{% block title %}{% trans "Developer Blogs" %}{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Review Board | Developer Blog RSS Feed" href="http://www.review-board.org/blog/feed/" />
{% endblock %}

{% block page-header %}
<h1>{% trans "Developer Blogs" %}</h1>
{% endblock %}

{% block content %}
{%  for post in post_list %}
<h2 class="date">{{post.timestamp|date:"F j, Y"}}</h2>
<div class="blog-post">
 <div class="blog-post-header">
  <div class="gravatar">{% gravatar post.feed.author 40 %}</div>
  <div class="blog-post-title"><a href="{{post.url}}">{{post.title}}</a></div>
  <div class="blog-post-author">by <a href="{{post.feed.site_url}}">{{post.feed.author|user_displayname}}</a></div>
 </div>
 <div class="blog-post-contents">
  {{post.content|safe}}
 </div>
</div>
{%  endfor %}

{% include "rbwebsite/paginator.html" %}

{% endblock %}
