{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Press and Media" %}{% endblock %}

{% block page-header %}
<h1>{% trans "Press and Media" %}</h1>
{% endblock %}

{% block content %}
{% for group in groups %}
<h2>{{group}}</h2>
<ul>
{%  for press_item in group.press_items.all %}
{%   if press_item.public %}
 <li>
  <a href="{{press_item.url}}">{{press_item.name}}</a>
{% if press_item.author %}
   by {% if press_item.author_url %}<a href="{{press_item.author_url}}">{% endif %}{{press_item.author}}{% if press_item.author_url %}</a>{% endif %}
{% endif %}
{% if press_item.location %}
   at {% if press_item.location_url %}<a href="{{press_item.location_url}}">{% endif %}{{press_item.location}}{% if press_item.location_url %}</a>{% endif %}
{% endif %}
{% if press_item.publication %}
   on {% if press_item.publication_url %}<a href="{{press_item.publication_url}}">{% endif %}{{press_item.publication}}{% if press_item.publication_url %}</a>{% endif %}
{% endif %}
{% if press_item.press_date %}
   on {{press_item.press_date|date:"F j, Y"}}
{% endif %}
{% if press_item.language %}
{%  ifnotequal press_item.language "English" %}
  ({{press_item.language}})
{%  endifnotequal %}
{% endif %}
{% if press_item.description %}
 <p>{{press_item.description|safe}}</p>
{% endif %}
{% if press_item.testimonial %}
  <blockquote>{{press_item.testimonial|safe}}</blockquote>
{% endif %}
 </li>
{%   endif %}
{%  endfor %}
</ul>
{% endfor %}

<p>
 {% blocktrans %}
 If you have anything you'd like to add to this page, contact us at
 <a href="http://groups.google.com/group/reviewboard">reviewboard@googlegroups.com</a>
 and we'll be glad to add it.
 {% endblocktrans %}
</p>

{% endblock %}

