body {
  color: black;
  background-color: white;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 8pt;
}

h1 {
  font-size: 10pt;
}

pre {
  font-size: 10pt;
}

form th {
  text-align: right;
  vertical-align: top;
}

form.inplaceeditor-form {
  margin: 0;
  padding: 0;
}

form.inplaceeditor-form input[type="text"],
form.inplaceeditor-form textarea {
  border: 1px #808080 solid;
}

form.inplaceeditor-form input[type="submit"] {
  margin-left: 0.5em;
}

form.inplaceeditor-form a {
  margin-left: 0.5em;
}

.label {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.vertlabel {
  font-weight: bold;
}

#headbar {
  margin-bottom: 8px;
}

#title {
  display: inline;
  font-size: 24pt;
  font-weight: normal;
}

#title a {
  color: black;
  text-decoration: none;
}

#beta {
  color: #808080;
  display: inline;
  font-size: 12pt;
  font-weight: normal;
}

#navbar {
  background-color: #C6DCF3;
  border: 1px #3465A4 solid;
  padding: 2px 6px;
  width: 100%;
  margin-bottom: 12px;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline;
  height: 30px;
  margin-right: 14px;
}

#navbar a {
  color: #0000AA;
  text-decoration: none;
  font-size: 110%;
  font-weight: bold;
}

#navbar #changenumform {
  text-align: right;
}

#navbar #changenumform input[type='text'] {
  border: 1px black inset;
}

#navbar form {
  color: #0000AA;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

#review-details {
  background: #E9E9E9;
  border: 1px #888888 solid;
  padding: 10px;
  width: 100%;
}

#review-details td {
  padding: 4px;
}

#review-details .label {
  width: 10%;
}

#review-details .value {
  color: #333333;
  width: 60%;
}

#review-details .vertlabel {
  /* border-top: 1px #999999 solid; */
  padding-top: 12px;
}

#review-details #summary {
  font-size: 120%;
  font-weight: bold;
  width: 60%;
}

#review-details #updated_time {
  color: #666666;
  font-size: 120%;
  text-align: right;
  width: 30%;
}

#review-details #viewdiff {
  text-align: right;
}

#review-details #status {
  color: #666666;
  text-align: right;
}

#review-details pre>#description,
#review-details pre>#testingdone {
  border: 1px #888888 solid;
  padding: 10px;
  background-color: #FAFAFA;
}

table.list {
  margin-left: 1px;
  border-collapse: collapse;
  width: 100%;
}

table.list th {
  background-color: #EEEEEE;
  padding: 4px;
  text-align: left;
}

table.list tr {
  background-color: #F8F8F8;
  border: 1px #D3D7CF solid;
}

table.list tr:hover {
  background-color: #E8E8E8;
}

table.list tr.headers {
  border: 1px #888888 solid;
}

table.list .age1 {
  background: #beedbc;
  border-left: 1px #8bbd5c solid;
  border-right: 1px #8bbd5c solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age1 {
  background: #abd5a9;
}

table.list .age2 {
  background: #ddfa8e;
  border-left: 1px #a3e266 solid;
  border-right: 1px #a3e266 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age2 {
  background: #c6e07f;
}

table.list .age3 {
  background: #fdf18c;
  border-left: 1px #d8c158 solid;
  border-right: 1px #d8c158 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age3 {
  background: #e3d87e;
}

table.list .age4 {
  background: #fed3a9;
  border-left: 1px #d49659 solid;
  border-right: 1px #d49659 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age4 {
  background: #e4bd98;
}

table.list .age5 {
  background: #fab6b6;
  border-left: 1px #f56363 solid;
  border-right: 1px #f56363 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age5 {
  background: #e0a3a3;
}

table.list td {
  padding: 4px;
}

table.list td.summary {
  cursor: pointer;
}

table.list td a {
  color: black;
  text-decoration: none;
}

.section .title {
  background: #DDDDDD;
  border: 1px black solid;
  padding: 4px 8px;
}

.section .body {
  margin-left: 20px;
  padding: 10px;
}

.section {
  margin-bottom: 20px;
}

#diffs {
  list-style: none;
  margin: 0;
  padding: 0;
}

#diffs div.index ol {
  margin-bottom: 20px;
  padding-left: 30px;
}

#diffs pre {
  font-size: 8pt;
  margin: 0;
  line-height: 140%;
}

#diffs table {
  border: 1px #C0C0C0 solid;
  margin: 2px;
  padding: 2px;
  background: white;
  border-collapse: collapse;
}

#diffs table thead th {
  background: #F0F0F0;
  border-bottom: 1px #C0C0C0 solid;
  font-size: 120%;
  font-weight: bold;
  padding: 4px 8px;
  text-align: left;
}

#diffs table thead th.controls,
#diffs table.sidebyside td.controls {
  padding: 2px;
  font-size: 100%;
  font-weight: normal;
  text-align: center;
}

#diffs table tbody td {
  vertical-align: top;
}

#diffs table.sidebyside col.controls {
  border-right: 1px #C0C0C0 solid;
}

#diffs table.sidebyside a {
  color: black;
  text-decoration: none;
}

#diffs table.sidebyside col.left {
  border-right: 1px #C0C0C0 solid;
}

#diffs table.sidebyside tr.changed {
  background: #fffe88;
  border-top: 1px #303030 solid;
  border-bottom: 1px #303030 solid;
}

#diffs table.sidebyside tr.removed {
  background: #fcc8c8;
  border-top: 1px #303030 solid;
  border-bottom: 1px #303030 solid;
}

#diffs table.sidebyside tr.added {
  background: #aeffac;
  border-top: 1px #303030 solid;
  border-bottom: 1px #303030 solid;
}

#review_request_form input[type='text'] {
    width: 400px;
}

#review_request_form textarea {
    width: 400px;
}
